table
{
    width: 900px;
    margin: auto;
    text-align: center;
    table-layout: fixed
}
table, tr, th,td
{
    padding: 20px;
    color: white;
    border: 1px solid black;
    border-collapse: collapse;
    font-size:18px;
    font-family: Arial;
    background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
    background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
    
}
td:hover{
    background: skyblue;
}