<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>
            main.jsp
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>Controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet1</servlet-name>
        <servlet-class>Controller.SignUpServlet1</servlet-class>
    </servlet>
    <servlet>
        <description>ViewServlet Functions</description>
        <display-name>ViewServlet</display-name>
        <servlet-name>ViewServlet</servlet-name>
        <servlet-class>Controller.ViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverServlet</servlet-name>
        <servlet-class>Controller.DriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoutesServlet1</servlet-name>
        <servlet-class>Controller.RoutesServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>Controller.DeleteRoutesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoutesServlet</servlet-name>
        <servlet-class>Controller.DeleteRoutesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDriverServlet</servlet-name>
        <servlet-class>Controller.DeleteDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoutesServlet</servlet-name>
        <servlet-class>Controller.UpdateRoutesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDriverServlet</servlet-name>
        <servlet-class>Controller.UpdateDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <servlet-class>Controller.UpdateStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewDriverServlet</servlet-name>
        <servlet-class>Controller.viewDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewRouteServlet</servlet-name>
        <servlet-class>Controller.viewRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Controller.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet1</servlet-name>
        <url-pattern>/SignUpServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/ViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverServlet</servlet-name>
        <url-pattern>/DriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoutesServlet1</servlet-name>
        <url-pattern>/RoutesServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoutesServlet</servlet-name>
        <url-pattern>/DeleteRoutesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDriverServlet</servlet-name>
        <url-pattern>/DeleteDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoutesServlet</servlet-name>
        <url-pattern>/UpdateRoutesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDriverServlet</servlet-name>
        <url-pattern>/UpdateDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <url-pattern>/UpdateStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewDriverServlet</servlet-name>
        <url-pattern>/viewDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewRouteServlet</servlet-name>
        <url-pattern>/viewRouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
